#register-page {
  margin: 10% auto;
  text-align: center;
  color: $grayText;

  .title {
    color: $grayText;
    text-transform: uppercase;
    font-style: initial;
    line-height: 40px;
    text-decoration: none;
    width: 100%;
    color: $grayText;
    font-family: "Futura Md BT";
    font-size: 35px;
    font-weight: 500;
    line-height: 42px;
  }

  #register-form {
    .title {
      align-items: left;
      text-align: left;
      font-weight: 600;
      border-bottom: 1px solid $red;
      margin-bottom: 10%;
      width: 100%;
      font-size: 20px;
      text-transform: none;
    }

    .form-row {
      text-align: left;
      font-size: 15px;
      color: $grayText;
      font-weight: bolder;
      width: 100%;

      .column {
        justify-content: left;
        align-items: left;
        width: 100%;

        .label-container {
          font-size: 20px;
        }

        input {
          width: 100%;
        }

        &.controls {
          display: flex;
          flex-direction: row;
          margin-top: 15px;

          .btn {
            margin: 5px 10px;
          }
        }

        &.not-a-member {
          display: flex;
          justify-content: left;
          flex-direction: row;
          margin-top: 15px;

          .space {
            margin: 0 5px;
          }
        }

        .forget-link {
          margin-top: 15px;
        }
      }
    }
  }

  #login-with-buttons {
    .title {
      text-transform: none;
      font-size: 20px;
      font-weight: 600;
      align-items: left;
      text-align: left;
      margin-bottom: 1%;
    }
    .row {
      text-align: left;
      color: white;

      .btn {
        position: relative;
        width: 40%;
        height: 35px;
        padding: 12px;
        border: none;
        border-radius: 4px;
        margin: 5px 0;
        opacity: 1;
        display: inline-block;
        font-family: "Futura Md BT";
        font-size: 17px;
        line-height: 20px;
        text-decoration: none; /* remove underline from anchors */

        .i {
          position: absolute;
          left: 10%;
          font-size: 30px;
        }
      }

      .btn:hover {
        opacity: 0.85;
      }

      .fb {
        background-color: #3b5998;
        color: white;
      }

      .twitter {
        background-color: #55acee;
        color: white;
      }

      .google {
        background-color: #dd4b39;
        color: white;
      }
    }
    /* Responsive layout - when the screen is less than 1200px wide */
    @media screen and (max-width: 1200px) {
      /* hide the symbol */
      .i {
        display: none;
      }
    }
  }
}
