@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i");
html {
  margin: 0;
  overflow-x: hidden;
  color: white;
  font-family: "Lato", sans-serif; }

body {
  margin: 0;
  overflow-x: hidden;
  min-height: 100vh;
  background: url("../../images/background.jpg");
  background-size: cover !important;
  background-position-x: center !important;
  background-position-y: center !important;
  background-repeat: no-repeat !important;
  outline: none; }

p {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  word-spacing: 2px; }

a {
  color: #686868;
  font-size: 15px;
  opacity: 0.9;
  transition: 0.15s; }
  a:hover {
    opacity: 1;
    transition: 0.15s; }

input,
textarea,
select,
a,
button {
  outline: none; }

input:disabled {
  opacity: 0.7; }

.layout-container {
  position: relative;
  min-height: 1300px; }

.page-container {
  margin: 0 auto;
  width: calc(100% - 30px);
  padding: 140px 15px;
  min-height: 60vh;
  background: white; }
  @media screen and (min-width: 992px) {
    .page-container {
      width: calc(90% - 200px);
      padding: 140px 100px; } }
  @media screen and (min-width: 1220px) {
    .page-container {
      width: calc(75% - 200px);
      padding: 140px 100px; } }
  @media screen and (min-width: 1660px) {
    .page-container {
      width: calc(60% - 200px);
      padding: 140px 100px; } }

input,
textarea,
select {
  height: 30px;
  max-width: 320px;
  background: white;
  border: none;
  border-bottom: 0.5px ridge #cacaca;
  border-left: 0.5px ridge #cacaca;
  border-right: 0.5px ridge #cacaca;
  padding: 0 15px;
  color: #686868;
  letter-spacing: 1px;
  margin: 15px 0; }

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  min-width: 115px;
  text-align: center;
  border-radius: 10px;
  border: 2px solid transparent;
  margin: 5px;
  background: transparent;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: unset;
  opacity: 0.9;
  transition: 0.15s; }
  .btn:hover {
    opacity: 1;
    transition: 0.15s; }

.btn-orange {
  background: #f55323; }
  .btn-orange:hover {
    opacity: 1;
    transition: 0.15s; }

.btn-blue {
  background: #031856;
  transition: 0.15s; }
  .btn-blue:hover {
    opacity: 1;
    transition: 0.15s; }

.btn-red {
  color: white;
  background: red; }
  .btn-red:hover {
    opacity: 1;
    transition: 0.15s; }

.uppercase {
  text-transform: uppercase; }

.add-button {
  color: #f55323;
  font-size: 15px;
  cursor: pointer;
  opacity: 0.9;
  transition: 0.15s;
  padding-right: 20px;
  margin-top: 15px; }
  @media screen and (min-width: 992px) {
    .add-button {
      padding-right: 0;
      margin-top: 0; } }
  .add-button:hover {
    opacity: 1;
    transition: 0.15s; }
  .add-button.disabled {
    opacity: 0.7;
    pointer-events: none; }

.orange-text {
  color: #f55323; }

.black-text {
  color: #686868; }

.required:after {
  content: " *";
  color: red; }

.form-grid-container {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 5%; }

.form-grid-item {
  width: 50%;
  border-radius: 10px;
  background-color: white;
  border: 1px solid #cacaca;
  padding: 30px;
  font-size: 30px;
  text-align: center;
  margin-left: 30%; }

.form-button {
  color: #f55323;
  font-size: 15px;
  cursor: pointer;
  text-decoration: underline;
  opacity: 0.9;
  transition: 0.15s; }
  .form-button:hover {
    opacity: 1;
    transition: 0.15s; }

.remove-button,
.edit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #f55323;
  margin-left: 10px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  opacity: 0.9;
  transition: 0.15s; }
  .remove-button:hover,
  .edit-button:hover {
    opacity: 1;
    transition: 0.15s; }
  .remove-button.disabled,
  .edit-button.disabled {
    pointer-events: none;
    opacity: 0.6; }

.form-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media screen and (min-width: 992px) {
    .form-row {
      flex-direction: row; } }
  .form-row label {
    font-weight: 500; }
  .form-row .placeholder-input {
    position: relative; }
    .form-row .placeholder-input p {
      position: absolute;
      right: 5px;
      top: 30px;
      color: #f55323; }
  .form-row .column {
    display: flex;
    flex-direction: column;
    width: 100%; }
  .form-row .column-half {
    width: calc(100%); }
    @media screen and (min-width: 992px) {
      .form-row .column-half {
        width: calc(50% - 15px); } }
  .form-row .column-70 {
    width: calc(100%); }
    @media screen and (min-width: 992px) {
      .form-row .column-70 {
        width: calc(70% - 15px); } }

.form-separator {
  width: 100%;
  height: 1px;
  margin: 10px 0;
  margin-bottom: 20px;
  background: red; }

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px; }
  .navigation .navigation-element {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    cursor: pointer; }
    .navigation .navigation-element span {
      margin: 5px;
      font-weight: 600; }
    .navigation .navigation-element img {
      margin: 5px; }
    .navigation .navigation-element .disabled-arrow {
      display: none; }
    .navigation .navigation-element .regular-arrow {
      display: block; }
    .navigation .navigation-element.disabled {
      pointer-events: none; }
      .navigation .navigation-element.disabled .disabled-arrow {
        display: block; }
      .navigation .navigation-element.disabled .regular-arrow {
        display: none; }
      .navigation .navigation-element.disabled span {
        opacity: 0.15; }

.error-container {
  display: inline-block;
  list-style-type: none;
  padding-left: 10px;
  margin: 0;
  font-size: 12px;
  color: red; }

.horizontal-form-container .error-container {
  padding-left: 0; }

#header {
  display: flex;
  position: fixed;
  height: 100px;
  top: 0;
  transition: 0.25s;
  background: white;
  border-bottom: 1px ridge #cacaca;
  width: 100%; }
  #header.active {
    background: rgba(3, 24, 86, 0.95);
    opacity: 0.9;
    transition: 0.25s; }
  #header .logo img {
    top: 0;
    left: 0;
    height: 100px; }
  #header .title {
    width: 210px;
    float: right;
    color: #1d348a;
    font-weight: 600;
    font-size: 41px;
    font-style: oblique;
    transition: 0.3s;
    cursor: pointer;
    padding-left: 30px; }
  #header .header-btn-left {
    position: fixed;
    top: 5%;
    left: calc(100% - 27%);
    background: red;
    display: flex;
    border-radius: 10px; }
    #header .header-btn-left a {
      width: 130px;
      color: white;
      font-weight: 500;
      font-size: 20px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      text-decoration: none;
      transition: 0.3s;
      cursor: pointer;
      border-radius: 10px; }
      #header .header-btn-left a:hover {
        background: #1d348a;
        color: white;
        transition: 0.3s; }
  #header .header-btn-right {
    position: fixed;
    top: 5%;
    left: calc(100% - 19%);
    border-radius: 10px;
    display: flex;
    background: red; }
    #header .header-btn-right a {
      background: red;
      border-radius: 10px;
      width: 130px;
      color: white;
      font-weight: 500;
      font-size: 20px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      text-decoration: none;
      transition: 0.3s;
      cursor: pointer; }
      #header .header-btn-right a:hover {
        background: #1d348a;
        color: white;
        transition: 0.3s; }
  #header .language-container {
    position: fixed;
    top: 4%;
    left: calc(100% - 11%);
    display: flex; }
    #header .language-container .language img {
      width: 30px;
      height: 30px; }

.language-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px 0; }
  .language-container .language {
    margin: 0 10px; }
    .language-container .language img {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      opacity: 0.9;
      transition: 0.15s;
      border: 2px solid transparent; }
      .language-container .language img:hover {
        cursor: pointer;
        opacity: 1;
        transition: 0.15s; }
      .language-container .language img.active {
        border: 2px solid rgba(3, 24, 86, 0.95); }

.check-box-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  margin-top: 15px; }
  .check-box-container label {
    cursor: pointer;
    font-size: 15px; }
  .check-box-container span {
    width: 11px;
    height: 11px;
    border: 1px ridge #cacaca;
    background: white;
    margin-right: 10px;
    font-weight: 600; }
    .check-box-container span.active {
      background: red; }
      .check-box-container span.active:before {
        font-family: "Font Awesome\ 5 Free";
        content: "\f00c";
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 10px;
        font-size: 10px;
        text-align: center; }

#login-page {
  margin: 10% auto;
  text-align: center;
  color: #686868; }
  #login-page .title {
    color: #686868;
    font-weight: 600;
    font-size: 25px;
    font-style: initial;
    line-height: 40px;
    text-decoration: none;
    width: 100%; }
  #login-page #login-form .title {
    align-items: left;
    text-align: left;
    font-weight: 500;
    border-bottom: 0.5px ridge #e61010;
    margin-bottom: 10%;
    width: 100%;
    font-size: 15px; }
  #login-page #login-form .form-row {
    text-align: left;
    font-size: 15px;
    color: #686868;
    font-weight: bolder;
    width: 100%; }
    #login-page #login-form .form-row .column {
      justify-content: left;
      align-items: left;
      width: 100%; }
      #login-page #login-form .form-row .column .label-container {
        font-size: 20px; }
      #login-page #login-form .form-row .column input {
        width: 100%; }
      #login-page #login-form .form-row .column.controls {
        display: flex;
        flex-direction: row;
        margin-top: 40px; }
        #login-page #login-form .form-row .column.controls .btn {
          margin: 5px 10px; }
      #login-page #login-form .form-row .column.not-a-member {
        display: flex;
        justify-content: left;
        flex-direction: row;
        margin-top: 15px; }
        #login-page #login-form .form-row .column.not-a-member .space {
          margin: 0 5px; }
      #login-page #login-form .form-row .column .forget-link {
        margin-top: 15px; }
  #login-page #login-with-buttons .title {
    font-weight: 500;
    align-items: left;
    text-align: left;
    margin-bottom: 1%; }
  #login-page #login-with-buttons .row {
    text-align: left;
    color: white; }
